.nav-container {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #9796f0;
}
.main-container {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-and-emoji-head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  height: 60px;
  width: 60px;
}
.margin-right {
  margin-right: 30px;
}
